{% extends 'base.html.twig' %}

{% block title %}Briefcase index{% endblock %}

{% block body %}
    <h1>Briefcase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Notes</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for briefcase in briefcases %}
            <tr>
                <td>{{ briefcase.id }}</td>
                <td>{{ briefcase.name }}</td>
                <td>
                    <ul>
                        {% for note in briefcase.notes %}
                            <li>
                                #{{ note.id }}
                                {% if note.fileName %}
                                    <a href="{{ note.fileName|file_url }}" target="_blank">
                                        {{ note.fileName }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ briefcase.createdAt ? briefcase.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_briefcase_show', {'id': briefcase.id}) }}">show</a>
                    <a href="{{ path('app_briefcase_edit', {'id': briefcase.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_briefcase_new') }}">Create new</a>
    <a href="{{ path('app_briefcase_newlive') }}">Create new live</a>
{% endblock %}
